.chat-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-color: var(--chat-bg-color);
}

.empty-chat-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--empty-chat-color);
}

.empty-chat-title {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  color: var(--empty-chat-color);
  opacity: 0.7;
}

[data-theme='dark'] {
  --empty-chat-color: var(--md-sys-color-on-surface-variant);
  --chat-bg-color: var(--md-sys-color-surface);
}

[data-theme='light'] {
  --empty-chat-color: var(--md-sys-color-on-surface-variant);
  --chat-bg-color: var(--md-sys-color-background);
}
